.container{
    background-color:#ffffff;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;

}
body{
    padding: 0;
    margin: 0;
}
.top{
    /*border: 1px solid;*/
    height: 16vh;
    width:100vw;
}
.top h1{
    color:#3267d9;
    margin-left: 5em;
}
.title{
    margin-top: 20px;
    position:absolute;
   /* border: 1px solid;*/
    width: 30%;
}
.btn-top{
    background-color:hsla(204, 87%, 48%, 0.1) ; 
    height: 11vh;
    padding-top: 40px;
    position: relative;
    /*border: 1px solid;*/
    margin-left: 40%;
    word-spacing: 6em;
}
.btn-top a{
    color: #8e94ad;
    text-decoration: none;
}
.hoax{
    background-color: #3267d9;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    height:5vh;
    width: 6vw;
}
.content1{
    /*border: 1px solid;*/
    max-width: 960px;
    max-height: 500px;
    width: 100%;
    height: 100vh;

}
.img1{
    width: 100%;
    position: absolute;
}
.triangulo1{
    position: inherit;
    margin-left: 8%;
    width: 0; 
    height: 0; 
    border-top: 100px solid hsla(228, 16%, 62%, 0.2);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent; 
}
.triangulo2{
    position: inherit;
    margin-top: 40vh;
    margin-left: 34%;
    width: 0; 
    height: 0; 
    border-right: 100px solid hsla(228, 16%, 62%, 0.2);
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
}
.triangulo3{
    position: inherit;
    margin-top: 9%;
    margin-left:94%;
    width: 0; 
    height: 0; 
    border-right: 100px solid hsla(228, 16%, 62%, 0.2);
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
}
.triangulo4{
    position: inherit;
    margin-top: 9%;
    margin-left:94%;
    width: 0; 
    height: 0; 
    border-right: 100px solid hsla(228, 16%, 62%, 0.2);
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
}
.inf1{
    /*border: 1px solid;*/
    position:inherit;
    width: fit-content;
    margin-left: 10%;
    margin-top: 10%;
    color: #204173;
}
.inf1 h2{
    font-size: 50px;
    position: relative;
    display: flex;
    text-align: justify;
}
.inf1 p{
    color: #8e94ad;
    font-size: 16px;
}
img{
    margin-left: 40.5%; 
    width: 920px;
}
.log1{
    /*border: 1px solid;*/
    position: relative;
    display: flex;
    width:100%;
}
.log1 p{
    color: #204173;
}
.log2{
    /*border: 1px solid;*/
    position: relative;
    display: flex;
    width: fit-content;
    margin-left: 10%;
}
.log2 p{
    color: #8e94ad;   
}
.cita{
    border: 0.5em;
    position: relative;
    display: flex;
    height: 8vh;
    width: 55vw;
    margin-left: 10%;
    box-shadow:10px 10px 8px #8e94ad;
}
.cita label{
    color: #204173;
}
.cita input[type=submit]{
    margin-left: 10%;
    margin-top: 10px;
    height: 5vh;
    width: 6vw;
    background-color: #3267d9;
    box-shadow:5px 5px 8px #3267d9;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}
.f1{
    margin-top: 10px;
    margin-left: 10%;
}
.f1 label{
    color: #8e94ad;   
}
.f1 select{
    border: none;
    color: #204173;
}
.f2{
    margin-top: 10px;
    margin-left: 10%;
}
.f2 label{
    color: #8e94ad;   
}
.f2 input[type=date]{
    border: none;
    color: #204173;
}
.f3{
    margin-top: 10px;
    margin-left: 10%;
}
.f3 label{
    color: #8e94ad;   
}
.f3 select{
    border: none;
    color: #204173;
}
.logoV{
    /*border: 1px solid;*/
    margin-top: 1vh;
    width: fit-content;
}
.logr{
    /*border: 1px solid;*/
    width: fit-content;
    margin-top: 10%;
    margin-left:10%;
    background-color:  hsla(204, 87%, 48%, 0.2) ;
}
.loge{
    /*border: 1px solid;*/
    width: fit-content;
    margin-top: 10%;
    margin-left:10%;
    position: absolute;
    background-color:  hsla(204, 87%, 48%, 0.2) ;
}
.logoV img{
    width:100% ;
    margin-left: 0;
}
.reasons{
    /*border: 1px solid;*/
    position:absolute;
    width: 100%;
    color: #204173;
}
.inf2{
    position: inherit;
    /*border: 1px solid;*/
    margin-left: 10%;
    margin-top: 8%;
    width: fit-content;
}
.inf2 h2{
    font-size: 50px;
    position: relative;
    display: flex;
    text-align: justify;
}
.inf2 p{
    color: #8e94ad;
    font-size: 20px;
}
.benefits{
    /*border: 1px solid;*/
    position: inherit;
    width: 80%;
    height: 60vh;
    margin-left: 10%;
    margin-top: 25%;
}
.benefit1{
    /*border: red 1px solid; */
    width: 18%;
    height: 30vh;
    position: inherit;
    margin-left: 5%; 
    color: #3267d9;
    box-shadow:10px 10px 8px #8e94ad;
    border-radius: 4px;
    
}
.benefit1 h3{
    width: fit-content;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 20px;
    position: relative;
    display: flex;
    text-align: justify;
}
.benefit1 p{
    color: #8e94ad;
    width: fit-content;
    margin-left: 10%;
    margin-top: 5%;
    position: relative;
    display: flex;
    /*text-align: justify;*/
}
.benefit2{
    /*border: red 1px solid; */
    width: 18%; 
    height: 30vh; 
    position: inherit;
    margin-left: 26.5%;
    color: #3267d9;
    box-shadow:10px 10px 8px #8e94ad;
    border-radius: 4px;
}
.benefit2 h3{
    /*border: 1px solid;*/
    width: fit-content;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 20px;
    position: relative;
    display: flex;
    text-align: justify;   
}
.benefit2 p{
    color: #8e94ad;
    width: fit-content;
    margin-left: 10%;
    margin-top: 5%;
    position: relative;
    display: flex;
    /*text-align: justify;*/
}
.benefit3{
    /*border: red 1px solid;   */
    width: 18%;
    height: 30vh;
    position: inherit;
    margin-left: 48%;
    color: #3267d9;
    box-shadow:10px 10px 8px #8e94ad;
    border-radius: 4px;
}
.benefit3 h3{
    width: fit-content;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 20px;
    position: relative;
    display: flex;
    text-align: justify;
}
.benefit3 p{
    color: #8e94ad;
    width: fit-content;
    margin-left: 10%;
    margin-top: 5%;
    position: relative;
    display: flex;
    /*text-align: justify;*/
}
.benefit4{
    /*border: red 1px solid;  */
    width: 18%;
    height: 30vh;
    position: inherit; 
    margin-left: 69.5%;
    color: #3267d9;
    box-shadow:10px 10px 8px #8e94ad;
    border-radius: 4px;
}
.benefit4 h3{
    width: fit-content;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 20px;
    position: relative;
    display: flex;
    text-align: justify;
}
.benefit4 p{
    color: #8e94ad;
    width: fit-content;
    margin-left: 10%;
    margin-top: 5%;
    position: relative;
    display: flex;
    /*text-align: justify;*/
}
.prep{
    /*border: 1px solid;*/
    position:absolute;
    width: 100%;
    height: 13vh;
    margin-top: 45%;
}
.prep img{
    margin-left:0%;
    width: 710px;
    margin-top: 10%;
}
.inf3{
    /*border: red 1px solid;*/
    position: inherit;
    margin-left: 55%;
    margin-top: 10%;
    width: 40.5vw;
    color: #204173;
}
.inf3 h2{
    font-size: 50px;
    position: relative;
    display: flex;
    text-align: justify;
}
.inf3 p{
    color: #8e94ad;
    font-size: 20px;
}
.btn-colapsable{
    /*border: 1px solid;*/
    width: 40.5vw;
    position:inherit;
    margin-left: 55%;
    margin-top: 26%;
}
.collapsible {
    background-color: #ffffff;
    color: #3267d9;
    cursor: pointer;
    padding: 18px;
    width: 40.5vw;
    border: none;
    text-align: center;
    /*outline: none;*/
    font-size: 15px;
    border-radius: 4px;
    box-shadow:10px 10px 8px #8e94ad;
} 
.content p{
    color: #8e94ad;
    width: fit-content;
    margin-left: 10%;

}
.active, .collapsible:hover {
    background-color: #8e94ad;
}
.emergency{
    /*border: 1px solid;*/
    position:inherit;
    width: 100%;
    margin-top: 100%;
}
.emergency img{
    margin-top: 25%;
    margin-left: 60%;
    width: 610px;
}
.inf4{
    /*border: red 1px solid;*/
    position: inherit;
    margin-left:8%;
    margin-top: 10%;
    width: fit-content;
    color: #204173;
}
.inf4 h2{
    font-size: 50px;
    position: relative;
    display: flex;
    text-align: justify;
}
.inf4 p{
    color: #8e94ad;
    font-size: 20px;
}
.contact1{
    /*border: 1px solid;*/
    position:inherit;
    margin-left:8%;
    margin-top: 30%;
    width: 40%;
    height: 43vh;
    color: #204173;
}
.call{
    border: 1px solid;
    position: absolute;
    width: 15vw;
    height: 20vh;
    margin-top: 0%;
    margin-left: 5%;
    border-radius: 4px;
    box-shadow:10px 10px 8px #8e94ad;
}
.call h3{
    /*border: 1px solid;*/
    width: fit-content;
    font-size: 25px;
    margin-top: 7%;
    margin-left: 25%;
}
.call p{
    /*border: 1px solid;*/
    color: #8e94ad;
    width: fit-content;
    margin-left: 25%;
    position: relative;
    display: flex;
    font-size: 15px;
}
.call input[type=button]{
    margin-left: 30%;
    margin-bottom: 5%;
    height: 5vh;
    width: 6vw;
    background-color: #3267d9;
    box-shadow:5px 5px 8px #3267d9;
    color: #ffffff;
    border: none;
    border-radius: 3px;

}
.chat{
    border: 1px solid;
    position: absolute;
    width: 15vw;
    height: 20vh;
    margin-top: 0%;
    margin-left: 55%;
    border-radius: 4px;
    box-shadow:10px 10px 8px #8e94ad;
}
.chat h3{
    /*border: 1px solid;*/
    width: fit-content;
    font-size: 25px;
    margin-top: 7%;
    margin-left: 25%;
}
.chat p{
    /*border: 1px solid;*/
    color: #8e94ad;
    width: fit-content;
    margin-left: 25%;
    position: relative;
    display: flex;
    font-size: 15px;
}
.chat input[type=button]{
    margin-left: 30%;
    margin-bottom: 5%;
    height: 5vh;
    width: 6vw;
    background-color: #3267d9;
    box-shadow:5px 5px 8px #3267d9;
    color: #ffffff;
    border: none;
    border-radius: 3px;

}
.video{
    border: 1px solid;
    position: absolute;
    width: 15vw;
    height: 20vh;
    margin-top: 30%;
    margin-left: 5%;
    border-radius: 4px;
    box-shadow:10px 10px 8px #8e94ad;
}
.video h3{
    /*border: 1px solid;*/
    width: fit-content;
    font-size: 25px;
    margin-top: 7%;
    margin-left: 25%;
}
.video p{
    /*border: 1px solid;*/
    color: #8e94ad;
    width: fit-content;
    margin-left: 25%;
    position: relative;
    display: flex;
    font-size: 15px;
}
.video input[type=button]{
    margin-left: 30%;
    margin-bottom: 5%;
    height: 5vh;
    width: 6vw;
    background-color: #3267d9;
    box-shadow:5px 5px 8px #3267d9;
    color: #ffffff;
    border: none;
    border-radius: 3px;

}
.msg{
    border: 1px solid;
    position:absolute;
    width: 15vw;
    height: 20vh;
    margin-top: 30%;
    margin-left: 55%;
    border-radius: 4px;
    box-shadow:10px 10px 8px #8e94ad;
}
.msg h3{
    /*border: 1px solid;*/
    width: fit-content;
    font-size: 25px;
    margin-top: 7%;
    margin-left: 25%;
}
.msg p{
    /*border: 1px solid;*/
    color: #8e94ad;
    width: fit-content;
    margin-left: 25%;
    position: relative;
    display: flex;
    font-size: 15px;
}
.msg input[type=button]{
    margin-left: 30%;
    margin-bottom: 5%;
    height: 5vh;
    width: 6vw;
    background-color: #3267d9;
    box-shadow:5px 5px 8px #3267d9;
    color: #ffffff;
    border: none;
    border-radius: 3px;

}
footer{
    /*border: 1px solid;*/
    margin-top:155%;
    height: 25vh;
    background-color:  hsla(204, 87%, 48%, 0.2) ;
    color: #204173;
} 
.inf5{
    margin-left: 5%;
    /*border: 1px solid;*/
    position: absolute;
    width: fit-content;

} 
.marca{
    /*border: 1px solid;*/
    width: fit-content;
    position: absolute;
    color: #8e94ad;
    font-size: 10px;
    margin-left: 5%;
    margin-top:11%;
}
.TyC{
    /*border: 1px solid;*/
    width: fit-content;
    position: absolute;
    color: #8e94ad;
    font-size: 10px;
    margin-left: 80%;
    margin-top:11%;
}
.privacy{
    /*border: 1px solid;*/
    width: fit-content;
    position: absolute;
    color: #8e94ad;
    font-size: 10px;
    margin-left: 90%;
    margin-top:11%;
}
.t1{
    /*border: 1px solid;*/
    width: fit-content;
    position: absolute;
    margin-top: 1%;
    margin-left: 75%;
}
.table{
    width: 100%;
    border-spacing: 0;
}
thead{
    font-size: 20px;
    color: #204173;
}
.table td, .table th{
    padding:0.3em;
    text-align: left;
}
tbody{
    font-size:15px ;
    color: #8e94ad;
}